<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vy12021.framework.sysmgmt.security.dao.AccountPermissionMapper">

    <insert id="save" parameterType="AccountPermission" useGeneratedKeys="true" keyProperty="pojo.id"  keyColumn="id">
        insert into fms_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.permissionName != null">
                permissionName,
            </if>
            <if test="pojo.description != null">
                description,
            </if>
            <if test="pojo.createDate != null">
                createDate,
            </if>
            <if test="pojo.created != null">
                created
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.permissionName != null">
                #{pojo.permissionName},
            </if>
            <if test="pojo.description != null">
                #{pojo.description},
            </if>
            <if test="pojo.createDate != null">
                #{pojo.createDate},
            </if>
            <if test="pojo.created != null">
                #{pojo.created}
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="AccountPermission">
        update fms_permission
        <set>
            <trim prefix=" " suffix=" " suffixOverrides=",">
                <if test="pojo.permissionName != null">
                    permissionName=#{pojo.permissionName},
                </if>
                <if test="pojo.description != null">
                    description=#{pojo.description},
                </if>
                <if test="pojo.createDate != null">
                    createDate=#{pojo.createDate},
                </if>
                <if test="pojo.created != null">
                    created=#{pojo.created}
                </if>
            </trim>
        </set>
        where id = #{pojo.id}
    </update>

    <select id="findPermissionsByGroupId" parameterType="int" resultType="AccountPermission">
        select * from fms_permission as kp where kp.id in
		(select kgp.permissionId
        from fms_group_permission as kgp where kgp.groupId = #{groupId})
    </select>

    <select id="findByIds" parameterType="int" resultType="AccountPermission">
        select * from fms_permission where id in
        <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="findAll" resultType="AccountPermission">
        select * from fms_permission
    </select>

    <delete id="deleteByIds" parameterType="int">
        delete from fms_permission where id in
        <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

</mapper>