<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vy12021.framework.sysmgmt.security.dao.UserInfoMapper">

    <insert id="save" parameterType="UserInfo" useGeneratedKeys="true" keyProperty="pojo.id"  keyColumn="id">
        insert into fms_userInfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.userId != null">
                userId,
            </if>
            <if test="pojo.sex != null">
                sex,
            </if>
            <if test="pojo.age != null">
                age,
            </if>
            <if test="pojo.email != null">
                email,
            </if>
            <if test="pojo.phone != null">
                phone
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.userId != null">
                #{pojo.userId},
            </if>
            <if test="pojo.sex != null">
                #{pojo.sex},
            </if>
            <if test="pojo.age != null">
                #{pojo.age},
            </if>
            <if test="pojo.email != null">
                #{pojo.email},
            </if>
            <if test="pojo.phone != null">
                #{pojo.phone}
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="UserInfo">
        update fms_userInfo
        <set>
            <trim prefix=" " suffix=" " suffixOverrides=",">
                <if test="pojo.userId != null">
                    userId=#{pojo.userId},
                </if>
                <if test="pojo.sex != null">
                    sex=#{pojo.sex},
                </if>
                <if test="pojo.age != null">
                    age=#{pojo.age},
                </if>
                <if test="pojo.email != null">
                    email=#{pojo.email},
                </if>
                <if test="pojo.phone != null">
                    phone=#{pojo.phone}
                </if>
            </trim>
        </set>
        where id = #{pojo.id}
    </update>

    <select id="findByIds" parameterType="long" resultType="UserInfo">
        select * from fms_userInfo where id in
        <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="findAll" resultType="UserInfo">
        select * from fms_userInfo
    </select>

    <delete id="deleteByIds" parameterType="long">
        delete from fms_userInfo where id in
        <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="findByEmail" parameterType="string" resultType="UserInfo">
        select * from fms_userInfo where email = #{email}
    </select>

    <select id="findByUserId" parameterType="long" resultType="UserInfo">
        select * from fms_userInfo where userId = #{userId}
    </select>

</mapper>