<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springapp.mvc.mybatis.persistence.ActivateMapper">

    <!-- 注册用户uuid插入 -->
    <insert id="save" parameterType="activateUser"
            keyProperty="pojo.id" keyColumn="ID" useGeneratedKeys="true">
        insert into ks_activateuser
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.activateId != null">
                activateId,
            </if>
            <if test="pojo.userId != null">
                userId
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.activateId != null">
                #{pojo.activateId},
            </if>
            <if test="pojo.userId != null">
                #{pojo.userId}
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="ActivateUser">
        update ks_activateuser
        <set>
            <if test="pojo.activateId != null">
                activateId=#{pojo.activateId},
            </if>
            <if test="pojo.userId != null">
                userId=#{pojo.userId}
            </if>
        </set>
        where id=#{pojo.id}
    </update>

    <select id="findByUserId" parameterType="Integer" resultType="activateUser">
        select * from ks_activateuser where userId = #{userId}
    </select>

    <select id="findByActivateId" parameterType="string" resultType="activateUser">
        select * from ks_activateuser where activateId = #{activateId}
    </select>

    <delete id="deleteByIds" parameterType="Integer">
        delete from ks_activateuser where id in
        <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

</mapper>